body {
  background: hsl(150, 9%, 96%);
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.caixa1 {
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgb(238, 236, 233);
  left: 0;
  bottom:0; 
  box-shadow: none;
  
}
.caixa2 {
  position: absolute;
  width: 200px;
  height: 200px;
  background: hwb(300 43% 12%);
  left: 205px;
  bottom:0;
}
.menuPrincipal {
   position: absolute;
   width: 100%;
   height: 45px;
   background:#ffe23e;
   font-family: 'Courier New', Courier, monospace;
   top: 0;
   left: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 100px;
  text-decoration: none;
}
li a:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
#banner2 {
   width: 90%;
}
.caixaempada{
  position: initial;
  top: 10px;
  width: 70%;
  height: 120px;
  background: rgb(255, 255, 255);
  left: 0;
  margin: 20px;
  border-color: rgb(252, 252, 255);
  border-style: solid;
  border-width: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  
}
.caixaempada2 {
  position: inherit;
  top: 4px;
  width: 90%;
  height: 100px;
  background: rgb(255, 224, 51);
  left: 0;
  margin: 20px;
  border-color: rgb(252, 252, 255);
  border-style: solid;
  border-width: 20px;
  padding: 20px;
  display: flex;
  justify-content: end;
  image-rendering: initial;
}
.rodape {
   position: absolute;
   width: 100%;
   height: 30px;
   backface-visibility: initial;
   color: rgb(0, 0, 0);
   bottom: 0;
   display: flex;
   justify-content: center;
}
.conteudo {
  position: relative;
  top: 80px;
}
.empada {
   position: relative;
   top: 0;
   right: 20;
   width: 80px;
   z-index: 999;
   background:#ffe23e;
}
#empada {
  width: 30;
}